@using TMS.ViewModelLayer.Models.Activities
@using TMS.Web.Components.Activities
@model TMS.ViewModelLayer.Models.Areas.Pages.AreaDetailsPageModel

<div style="display: flex; align-items: center; justify-content:space-between">
    <h2>@Model.AreaName</h2>
    <div>
        <a asp-action="Edit" asp-controller="Areas" asp-route-id="@Model.AreaId">Edit</a> |
        <a asp-action="Index" asp-controller="Areas">Back To Areas</a>
    </div>
</div>

<hr/>
<div class="row">
    <div class="col-md-6">
        <h3>Description</h3>
        <p>@Model.AreaDescription</p>
    </div>
    <div class="col-md-6">
        <h3>People Involved</h3>
        @foreach (var person in Model.AssociatedPeople)
        {
            <span>@person.UserName</span>
        }
    </div>
</div>
<hr/>

<h3>Activities</h3>

@await Component.InvokeAsync(nameof(ActivityList), new { data = new ActivityListFilterData { AreaId = Model.AreaId } })

<div class="row">
    <div class="col-md-12">
        <a asp-controller="Activities" asp-action="Create" asp-route-id="@Model.AreaId" class="btn btn-primary">Create Activity</a>
    </div>
</div>