@model TMS.ViewModelLayer.Models.Areas.AreaPageModel
@{
    ViewData["Title"] = "Manage Your Areas";
}

<h2>@ViewData["Title"].</h2>

<table class="table">
    <tbody>
        @foreach (var area in Model.Areas)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-controller="Areas" asp-route-id="@area.Id">@area.Name</a>
                </td>
                <td>
                    @area.Description
                </td>
                <td>
                    @area.Created
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Areas" asp-route-id="@area.Id" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-12">
        <a asp-controller="Areas" asp-action="Create" class="btn btn-primary">Create Area</a>
    </div>
</div>